
<mat-card class="holiday-admin-card">
    <mat-card-header>
      <mat-card-title>Add National Holiday</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="holidayForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Holiday Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="holidayForm.get('name')?.hasError('required')">
            Holiday name is required
          </mat-error>
          <mat-error *ngIf="holidayForm.get('name')?.hasError('minlength')">
            Name must be at least 2 characters
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="holidayForm.get('date')?.hasError('required')">
            Date is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country.code">
              {{ country.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="holidayForm.get('country')?.hasError('required')">
            Country is required
          </mat-error>
          <mat-error *ngIf="holidayForm.get('country')?.hasError('pattern')">
            Country must be a 2-letter ISO code
          </mat-error>
        </mat-form-field>
  
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
            {{ isLoading ? 'Adding...' : 'Add Holiday' }}
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>